@using SWGIndustries.Data
@using SWGIndustries.Services

@inject DataAccessService DataAccessService

<MudPaper Class="ma-4 pa-4" Elevation="16">
    <MudText Typo="Typo.h6" Class="mb-4">You have the following pending crew invitations</MudText>
    <MudSimpleTable Dense="true" Striped="true" Class="mb-8">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th Style="width: 160px; text-align: center">Action</th>
        </tr>
        </thead>
        <tbody>
        @if (PendingRequests != null)
        {
            foreach (var invitation in PendingRequests)
            {
                if (invitation.InviteOrRequestToJoin == false)
                {
                    <tr>
                        <td>@invitation.FromUser.Name</td>
                        <td>@invitation.ToUser.Name</td>
                        <td Style="text-align: center;">
                            <MudTooltip Text="Delete this invitation request" openDelay="500" Placement="Placement.Top" Arrow="true">
                                <MudIconButton Icon="@Icons.Material.Outlined.Delete" Color="Color.Error"
                                               OnClick="@(() => OnDeleteSentInvitationRequest?.Invoke(invitation))"/>
                            </MudTooltip>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@invitation.FromUser.Name</td>
                        <td>@invitation.ToUser.Name</td>
                        <td Style="text-align: center;">
                            <MudTooltip Text="Reject this invitation request" openDelay="500" Placement="Placement.Top" Arrow="true">
                                <MudIconButton Icon="@Icons.Material.Outlined.Block" Color="Color.Error"
                                               OnClick="c => OnRequestToJoinCrew(invitation, false)"/>
                            </MudTooltip>
                            <MudTooltip Text="Accept this invitation request" openDelay="500" Placement="Placement.Top" Arrow="true">
                                <MudIconButton Icon="@Icons.Material.Outlined.PersonAdd" Color="Color.Primary"
                                               OnClick="c => OnRequestToJoinCrew(invitation, true)"/>
                            </MudTooltip>
                        </td>
                    </tr>
                }
            }
        }
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code {
    [Parameter] public IList<CrewInvitation> PendingRequests { get; set; }
    [Parameter] public Action<CrewInvitation> OnDeleteSentInvitationRequest { get; set; }
    [Parameter] public Action<CrewInvitation, bool> OnRequestToJoinCrew { get; set; }
}